MuJava_HOME=J:\phd\VM-SHARED\Math_85b
config_mode=true
filter_tests=N
MuJava_src=J:\phd\VM-SHARED\Math_85b/src
MuJava_class=J:\phd\VM-SHARED\Math_85b/build/classes
MuJava_mutants=J:\phd\VM-SHARED\Math_85b/mutants
MuJava_tests=J:\phd\VM-SHARED\Math_85b/build/test
number_of_mutation_threads=256
number_of_testing_threads=64
Results_output=J:\phd\mujava\VM-SHARED\mutantResults.txt
List_Target_Mutation_Files=J:\phd\mujava\VM-SHARED\mujavaMutation.txt
List_Target_Tests=J:\phd\mujava\VM-SHARED\mujavaTest.txt
debug_output_enabled=Y
test_results_jdbc=jdbc:derby://localhost:1527/tests.db;create=true
test_results_output_mode=database
soft_class_match_allowed=N
